[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "/home/thiago/projects/dotfiles/oh-my-zsh-custom/plugins/auto-notify"]
	path = /home/thiago/projects/dotfiles/oh-my-zsh-custom/plugins/auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
